
/* Base styles */ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 175%;
    padding: 20px;
}

section {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #DFDFDF;
    clear: both;
    height: 100%;
    overflow: hidden;
}

p {
    padding: 5px 10px;    
}

ul {
    padding: 5px 10px;
    list-style-type: square;
    list-style-position: inside;
}

.section-margin {
    padding: 10px;
    height: 100%;
}

.section-title {
    float: right;
    width: 10em;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #000000;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    padding: 5px 10px;    
}

.section-content {
    clear: both;
}

#section-title-1 {
    background-color: #265B6A;
    color: #FFFFFF;
}

#section-title-2 {
    background-color: #303D74;
    color: #FFFFFF;
}

#section-title-3 {
    background-color: #2A7E43;
    color: #FFFFFF;
}

